* {
  font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;
}
a {
  text-decoration: none;
}
#constructor {
  font-size: 26px;
  width: 580px;
  position: absolute;
}
#constructor div {
  margin: 5px;
}
label {padding-right: 3px;}
label:hover {
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.75);
}
table, table input {
  text-align: center;
  font-size: 18px;
}
input {
  padding: 5px;
}
input[type=number] {
  width: 100px;
}
div > input[type=text] {
  width: 380px;
}
input[type=radio] {
  width: 17px;
  height: 17px;
}
input[type=submit] {
  width: 150px;
  font-size: 20px;
}
.submit {
  text-align: center;
}

#graph {
  margin: 10px;
  padding: 10px 20px;
  border: 0.5px dotted #000;
  position: absolute;
  left: 600px;
}
